#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 150px;
  }

  #navbar a {
    background-color: grey;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    display: block;
  }